<h4>Register</h4>

<%= render 'shared/error', obj: @user %>

<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username, placeholder: 'Username' %>
  <br/>
  <%= f.label :email %>
  <%= f.text_field :email, placeholder: 'Email address' %>
  <br/>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br/>
  <%= label_tag :password_confirm %>
  <input name="user[password_confirm]" type="password">
  <br/>
  <%= f.submit  %>
<% end %>